.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  font-family: 'Verdana', sans-serif;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-weight: 1000;           /* Bolder */
  font-size: 28px;            /* Bigger */
  color: #000;
  letter-spacing: 1px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  margin-left: 40px;
  font-size: 14px;            /* Bigger */
  font-weight: 400;           /* Bolder */
  text-transform: uppercase;  /* More impactful than lowercase */
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #333;
}

